@font-face {
  font-family: "cairo";
  src: url("../fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: lighter; }
* {
  font-family: cairo, sans-serif; }

* {
  direction: rtl;
  color: #2b2b2b; }

body {
  margin: 0;
  padding: 0; }

.sign {
  background: url("../imgs/c9e82dbbdfb949282d5097efa6b4d487.png");
  background-position: bottom;
  background-size: cover;
  background-color: rgba(48, 80, 105, 0.5);
  background-blend-mode: soft-light; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.ltr {
  direction: ltr; }

.flex {
  display: flex; }

.col {
  flex-direction: column; }

.wrap {
  flex-wrap: wrap; }

.center {
  justify-content: center; }

.end {
  justify-content: flex-end; }

.space-between {
  justify-content: space-between; }

.align {
  align-items: center; }

.padding {
  padding: 0 2%; }

.fa-star {
  color: #f6bd22; }

header {
  height: 45px;
  background-color: #305069;
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 2;
  align-items: center;
  flex-wrap: wrap; }
  header .logo-wrapper img[alt="logo"] {
    height: 85%;
    margin-left: 10vw; }
    @media (max-width: 360px) {
      header .logo-wrapper img[alt="logo"] {
        height: 40%; } }
  header #menu {
    cursor: pointer; }
    @media (min-width: 1250px) {
      header #menu {
        display: none; } }
  header .search {
    display: flex;
    align-items: center; }
    header .search button {
      background: none;
      border: none;
      cursor: pointer; }
    header .search input {
      background: none;
      border: none; }
    @media (max-width: 360px) {
      header .search {
        width: 100%; } }
  @media (min-width: 1250px) {
    header {
      display: none; } }
  @media (max-width: 360px) {
    header {
      height: 100px; } }

#back {
  cursor: pointer; }

main {
  padding: 0 0 0 1%;
  min-height: calc(100vh - 62px); }
  @media (max-width: 425px) {
    main {
      min-height: calc(100vh - 91px); } }
  main nav {
    background-color: #fcfcfc;
    border: 1px solid #efefef;
    height: calc(100vh - 109px);
    position: fixed;
    top: 45px;
    width: 200px; }
    @media (max-width: 1250px) {
      main nav {
        display: none; } }
    @media (max-width: 426px) {
      main nav {
        height: calc(100vh - 109px); } }
    @media (max-width: 425px) {
      main nav {
        height: calc(100vh - 138px); } }
    main nav ul li {
      border-bottom: 1px solid #efefef;
      padding: 0 20px; }
      main nav ul li a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 0; }
        main nav ul li a img {
          width: 25px;
          margin-left: 4px; }
      main nav ul li.active {
        background-color: #f2f2f2; }
  main .content {
    padding: 0 2%;
    flex-grow: 1;
    margin: 45px 200px 45px 0; }
    @media (max-width: 1250px) {
      main .content {
        margin: 45px 0 43px 0; } }
    main .content table.dataTable.no-footer {
      border: none; }
    main .content #example_filter select,
    main .content input {
      height: 37px;
      border: 1px solid #aaa;
      border-radius: 3px;
      margin-right: 10px;
      margin-left: 0 !important;
      margin-bottom: 10px;
      min-width: 175px; }
    main .content .table-container {
      padding: 35px 2%;
      border-radius: 5px;
      box-shadow: 0px 3px 10px #00000029; }
      main .content .table-container table {
        overflow-x: hidden; }
        main .content .table-container table td,
        main .content .table-container table th {
          white-space: nowrap;
          text-align: center; }
          main .content .table-container table td p,
          main .content .table-container table th p {
            white-space: normal; }
            main .content .table-container table td p.limited,
            main .content .table-container table th p.limited {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 300px; }
              main .content .table-container table td p.limited.small-limit,
              main .content .table-container table th p.limited.small-limit {
                width: 150px; }
        main .content .table-container table .child ul {
          width: 100%; }
          main .content .table-container table .child ul li {
            text-align: start; }
            main .content .table-container table .child ul li .dtr-title {
              margin-left: 15px;
              min-width: 106px; }
        main .content .table-container table .ltr {
          direction: ltr; }
        main .content .table-container table .id {
          font-weight: bold; }
        main .content .table-container table .attachment a {
          color: #0dbf66;
          text-decoration: underline; }
        main .content .table-container table .not-yet {
          color: red; }
        main .content .table-container table button {
          border: none;
          padding: 0 15px;
          color: white;
          border-radius: 5px;
          cursor: pointer; }
          main .content .table-container table button.accept {
            background-color: #305069;
            border: 1px solid #305069; }
          main .content .table-container table button.decline {
            background-color: #ee1717;
            border: 1px solid #ee1717; }
          main .content .table-container table button.white {
            color: #305069;
            border: 1px solid #305069; }
        main .content .table-container table a {
          color: #0dbf66;
          text-decoration: underline; }
  main .join-request .child ul li[data-dtr-index="3"] .dtr-data {
    direction: ltr;
    display: inline-block; }
  @media (max-width: 350px) {
    main .maazoon-request .child ul li[data-dtr-index="1"] .dtr-data,
    main .maazoon-request .child ul li[data-dtr-index="3"] .dtr-data {
      display: block;
      margin: 10px 20px; } }
  main .membership-request .child ul li[data-dtr-index="3"] .dtr-data {
    direction: ltr;
    display: inline-block; }
  @media (max-width: 480px) {
    main .statistics {
      justify-content: center; } }
  main .statistics .statistic-card {
    width: 20%;
    padding: 20px 2%;
    box-shadow: 0px 3px 15px #00000029;
    border-radius: 12px; }
    main .statistics .statistic-card p {
      margin-bottom: 0; }
    main .statistics .statistic-card img {
      width: 25%; }
    @media (max-width: 830px) {
      main .statistics .statistic-card {
        width: 44%;
        margin-bottom: 50px; } }
    @media (max-width: 480px) {
      main .statistics .statistic-card {
        width: 80%; } }
  main .charts {
    margin-top: 80px; }
    @media (max-width: 720px) {
      main .charts {
        justify-content: center; } }
    main .charts .doughnut {
      width: 31%;
      padding: 20px 2%; }
    main .charts .line {
      width: 56%;
      padding: 20px 2%; }
    main .charts .doughnut,
    main .charts .line {
      text-align: center;
      border: 2px solid #efefef; }
      @media (max-width: 720px) {
        main .charts .doughnut,
        main .charts .line {
          width: 80%;
          margin-bottom: 50px; } }
      main .charts .doughnut h2,
      main .charts .line h2 {
        text-align: right; }
  main .tables {
    margin-top: 100px; }
    main .tables .table {
      width: 47%;
      border-radius: 12px;
      margin: 30px 0;
      overflow: hidden;
      border: 1px solid #dedede; }
      @media (max-width: 1100px) {
        main .tables .table {
          width: 49%; } }
      @media (max-width: 980px) {
        main .tables .table {
          width: 100%; } }
      main .tables .table table {
        width: 100%;
        border-collapse: collapse; }
        @media (max-width: 500px) {
          main .tables .table table {
            font-size: 11.5px; } }
        @media (max-width: 340px) {
          main .tables .table table {
            font-size: 11 px; } }
        main .tables .table table caption {
          text-align: right;
          background-color: #efefef;
          padding: 15px 20px 15px 0;
          font-weight: bold; }
        main .tables .table table tr {
          border-bottom: 1px solid #dedede; }
          main .tables .table table tr:last-child {
            border-bottom: none; }
        main .tables .table table thead tr {
          background-color: #efefef; }
          main .tables .table table thead tr th {
            white-space: wrap; }
        main .tables .table table th {
          font-weight: 100; }
        main .tables .table table td,
        main .tables .table table th {
          text-align: right;
          padding-right: 20px; }
  main .form-container {
    min-height: 100vh; }
    main .form-container form {
      width: 40%;
      border-radius: 3px;
      padding: 2.5%;
      background-color: white; }
      main .form-container form input {
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        margin-bottom: 20px; }
      main .form-container form a {
        color: #ee1717;
        font-weight: bold; }
      main .form-container form button {
        border: none;
        padding: 0 40px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        background-color: #305069;
        border: 1px solid #305069; }

footer {
  min-height: 45px;
  background-color: #efefef; }
  footer li {
    padding-left: 15px; }

.modal-mask {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  display: none;
  transition: opacity 0.3s ease; }
  .modal-mask .modal-wrapper {
    display: table-cell;
    vertical-align: middle; }
    .modal-mask .modal-wrapper .modal {
      background-color: white;
      width: 80%;
      margin: auto;
      border-radius: 5px;
      padding: 40px 10%;
      box-shadow: 0px 0px 5px 2px lightgrey; }
      .modal-mask .modal-wrapper .modal #back {
        cursor: pointer; }
      .modal-mask .modal-wrapper .modal li .title {
        font-weight: bold; }
      .modal-mask .modal-wrapper .modal li .data img {
        width: 13%; }
      .modal-mask .modal-wrapper .modal li .data.green {
        color: #09d501; }
      .modal-mask .modal-wrapper .modal li .data.bold {
        font-weight: bold; }
      .modal-mask .modal-wrapper .modal p {
        color: #aaa; }
      .modal-mask .modal-wrapper .modal .right-sec {
        width: 48%; }
        @media (max-width: 950px) {
          .modal-mask .modal-wrapper .modal .right-sec {
            width: 100%; } }
      .modal-mask .modal-wrapper .modal .left-sec {
        width: 48%; }
        @media (max-width: 950px) {
          .modal-mask .modal-wrapper .modal .left-sec {
            display: flex;
            justify-content: space-between;
            width: 100%; } }
        @media (max-width: 750px) {
          .modal-mask .modal-wrapper .modal .left-sec {
            flex-direction: column; } }
        .modal-mask .modal-wrapper .modal .left-sec h3 {
          margin-top: 0; }
        .modal-mask .modal-wrapper .modal .left-sec .address {
          width: 50%; }
          @media (max-width: 750px) {
            .modal-mask .modal-wrapper .modal .left-sec .address {
              width: 100%; } }
        .modal-mask .modal-wrapper .modal .left-sec #map {
          width: 100%;
          height: 300px; }
          @media (max-width: 950px) {
            .modal-mask .modal-wrapper .modal .left-sec #map {
              width: 45%; } }
          @media (max-width: 750px) {
            .modal-mask .modal-wrapper .modal .left-sec #map {
              width: 100%; } }
      .modal-mask .modal-wrapper .modal .service-provider {
        border-top: 1px solid #efefef;
        margin-top: 30px; }
        .modal-mask .modal-wrapper .modal .service-provider ul {
          columns: 2; }
          @media (max-width: 580px) {
            .modal-mask .modal-wrapper .modal .service-provider ul {
              columns: 1; } }
      .modal-mask .modal-wrapper .modal.commision-modal {
        width: 40%; }
        .modal-mask .modal-wrapper .modal.commision-modal form {
          width: 100%;
          border-radius: 3px; }
          .modal-mask .modal-wrapper .modal.commision-modal form input {
            border: 1px solid #d8d8d8;
            border-radius: 3px;
            margin-bottom: 20px; }
          .modal-mask .modal-wrapper .modal.commision-modal form button {
            border: none;
            padding: 0 40px;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            background-color: #305069;
            border: 1px solid #305069; }

.appear {
  display: initial;
  z-index: 1; }

/*# sourceMappingURL=main.css.map */
