@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "Andalus";
  src: url("../fonts/Andalus.ttf") format("truetype");
  font-weight: normal; }
* {
  font-family: Almarai, sans-serif; }

* {
  direction: rtl; }
  *:hover {
    transition: all 0.5s; }

body {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  color: #707070; }

.flex {
  display: flex; }

.col {
  flex-direction: column; }

.wrap {
  flex-wrap: wrap; }

.center {
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.align {
  align-items: center; }

.padding {
  padding: 0 12%; }

.padding-top-100 {
  padding-top: 100px; }

.title {
  width: fit-content;
  margin: 0; }
  .title.center-sheet {
    text-align: center;
    margin: 0 auto; }
  .title p {
    color: #d3312f;
    margin: 0; }
  .title h2,
  .title h3 {
    color: #305069;
    margin: 0;
    font-weight: 100; }
  .title div {
    background: linear-gradient(90deg, #d3312f 50%, #305069 50%);
    height: 5px;
    margin-top: 7px; }
  .title.white div {
    background: linear-gradient(90deg, #d3312f 50%, white 50%); }
  .title.white h2,
  .title.white h3 {
    color: white; }

header {
  background-color: #305069;
  height: 100px; }
  header nav li {
    margin-left: 20px; }
    header nav li a {
      color: white; }
      header nav li a:hover {
        color: #50e243; }

main .banner {
  color: white;
  background-color: #305069;
  padding-bottom: 100px; }
  main .banner .container {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    main .banner .container h1 {
      font-size: 24px;
      margin: 0 100px;
      font-weight: 100; }
    main .banner .container p {
      font-family: Andalus, sans-serif;
      font-size: 50px;
      color: white; }
    main .banner .container a {
      color: white;
      margin: 0 50px;
      text-align: center; }
    main .banner .container button {
      margin-top: 30px;
      height: 60px;
      background-color: #305069;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 15px 65px;
      border: 3px solid white;
      border-radius: 5px;
      cursor: pointer; }
    main .banner .container .border {
      border-top: 1px solid white;
      height: 2px;
      border-bottom: 3px solid white;
      flex-grow: 1; }
main .about-us img {
  width: 40%; }
main .about-us .left-sec {
  width: 50%; }
  main .about-us .left-sec p {
    line-height: 30px; }
main .services .services-container .service {
  width: 25vw;
  height: 25vw;
  position: relative;
  border: 1px solid #efefef;
  margin-top: 80px; }
  main .services .services-container .service img.main {
    height: 100%;
    width: 100%; }
  main .services .services-container .service .content {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    padding: 0 10%;
    background-color: rgba(50, 100, 138, 0.6); }
    main .services .services-container .service .content img {
      width: 50%;
      margin-bottom: 20px; }
    main .services .services-container .service .content h3 {
      font-weight: 100;
      padding: 0 20px; }
    main .services .services-container .service .content p {
      color: white;
      line-height: 25px; }
main .statistics-sec {
  padding-bottom: 100px; }
  main .statistics-sec .statistics {
    margin-top: 50px; }
    main .statistics-sec .statistics .statistic-card {
      width: 23%;
      box-shadow: 0px 3px 10px #00000029;
      border-radius: 10px;
      padding: 60px 0; }
      main .statistics-sec .statistics .statistic-card img {
        width: 50%;
        margin-bottom: 20px; }
      main .statistics-sec .statistics .statistic-card span {
        font-size: 30px; }
main .how-it-works {
  background-color: #efefef;
  margin-bottom: 200px;
  padding-bottom: 100px; }
  main .how-it-works .categories {
    margin-top: 50px; }
    main .how-it-works .categories .category {
      width: 100%;
      height: 175px; }
      main .how-it-works .categories .category img {
        width: 50%;
        height: 100%; }
      main .how-it-works .categories .category .content {
        background-color: white;
        width: 40%;
        padding: 5%; }
      main .how-it-works .categories .category:nth-child(even) {
        flex-direction: row-reverse; }

footer p {
  color: white; }
footer .main-footer {
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #305069;
  color: white; }
  footer .main-footer .main-list li {
    direction: ltr;
    margin-bottom: 15px; }
  footer .main-footer .title {
    margin-bottom: 20px; }
  footer .main-footer .apps-container {
    max-width: 40%; }
    footer .main-footer .apps-container p {
      margin: 0; }
    footer .main-footer .apps-container .title {
      margin-top: 10px; }
    footer .main-footer .apps-container .app {
      margin-top: 20px; }
      footer .main-footer .apps-container .app li {
        width: 50%;
        margin-bottom: 15px; }
        footer .main-footer .apps-container .app li a img {
          width: 80%; }
footer .dark-footer {
  height: 90px;
  background-color: #305069;
  color: white;
  font-size: 14px; }
  footer .dark-footer ul a {
    color: white;
    margin-right: 20px; }
    footer .dark-footer ul a:hover {
      color: #50e243; }

/*# sourceMappingURL=main.css.map */
