// colors
$darkblue: #305069;
$black: #2b2b2b;
$lightgrey: #efefef;
$white: #fcfcfc;
$red: #d3312f;
$writing-grey: #707070;

$link-hover: #50e243;

@font-face {
  font-family: "cairo";
  src: url("../fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Andalus";
  src: url("../fonts/Andalus.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: cairo, sans-serif;
}
* {
  direction: rtl;
  &:hover {
    transition: all 0.5s;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  color: $writing-grey;
  line-height: 20px;

}

// flex classes
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align {
  align-items: center;
}

.padding {
  padding: 0 12%;
  @media (max-width: 960px) {
    padding: 0 6%;
  }
}
.padding-top-100 {
  padding-top: 100px;
}
.title {
  width: fit-content;
  margin: 0;

  &.center-sheet {
    text-align: center;
    margin: 0 auto;
  }

  p {
    color: $red;
    margin: 0;
  }
  h2,
  h3 {
    color: $darkblue;
    margin: 0;
    font-weight: 100;
  }
  div {
    background: linear-gradient(90deg, $red 50%, $darkblue 50%);
    height: 5px;
    margin-top: 7px;
  }
  &.white {
    div {
      background: linear-gradient(90deg, $red 50%, white 50%);
    }
    h2,
    h3 {
      color: white;
    }
  }
}

// header

header {
  background-color: $darkblue;
  height: 100px;
  span {
    display: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
    @media (max-width: 840px) {
      display: initial;
    }
  }
  nav {
    li {
      margin-left: 20px;
      a {
        color: white;
        &:hover {
          color: $link-hover;
        }
      }
    }

    @media (max-width: 840px) {
      position: absolute;
      width: 40%;
      padding: 20px;
      top: 84px;
      background-color: white;
      border: 1px solid black;
      border-radius: 3px;
      right: 0;
      display: none;
      z-index: 5;
      ul {
        flex-direction: column;

        li {
          border-bottom: 1px solid $lightgrey;
          padding: 10px;
          a {
            color: $darkblue;
          }
        }
      }
    }
    @media (max-width: 410px) {
      width: 80%;
    }
    &.appear {
      @media (max-width: 960px) {
        display: initial;
      }
    }
  }
}
main {
  .banner {
    color: white;
    background-color: #305069;
    padding-bottom: 100px;

    .container {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      @media (max-width: 1100px) {
        width: 65%;
      }
      @media (max-width: 850px) {
        width: 80%;
      }

      h1 {
        font-size: 24px;
        margin: 0 100px;
        font-weight: 100;
        @media (max-width: 700px) {
          font-size: 20px;
          margin: 0 60px;
        }
      }
      p {
        font-family: Andalus, sans-serif;
        font-size: 50px;
        color: white;
        span {
          font-family: Andalus, sans-serif;
          @media (max-width: 425px) {
            display: block;
          }
        }
        @media (max-width: 700px) {
          font-size: 40px;
        }
        @media (max-width: 580px) {
          font-size: 30px;
        }
      }
      a {
        color: white;
        margin: 0 50px;
        text-align: center;
        @media (max-width: 700px) {
          font-size: 14px;
          margin: 0 30px;
        }
      }
      button {
        margin-top: 60px;
        height: 60px;
        background-color: $darkblue;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 65px;
        border: 3px solid white;
        border-radius: 5px;
        cursor: pointer;
        @media (max-width: 600px) {
          font-size: 14px;
          padding: 15px 50px;
        }
      }
      .border {
        border-top: 1px solid white;
        height: 2px;
        border-bottom: 3px solid white;
        flex-grow: 1;
      }
    }
  }
  .about-us {
    img {
      width: 40%;
      @media (max-width: 725px) {
        width: 60%;
        margin: 20px auto 70px;
      }
    }
    .left-sec {
      width: 50%;
      @media (max-width: 725px) {
        width: 100%;
      }
      p {
        line-height: 30px;
      }
    }
  }
  .services {
    .services-container {
      .service {
        width: calc(25vw - 7px);
        height: calc(25vw - 8px);
        position: relative;
        border: 1px solid $lightgrey;
        margin-top: 80px;
        @media (max-width: 950px) {
          width: calc(50vw - 11px);
          height: calc(50vw - 11px);
        }
        @media (max-width: 520px) {
          width: calc(100vw);
          height: calc(100vw);
        }
        @media (max-width: 270px) {
          height: calc(110vw);
          border: none;
        }
        img.main {
          height: 100%;
          width: 100%;
        }
        .content {
          position: absolute;
          top: 0;
          width: 80%;
          height: 100%;
          padding: 0 10%;
          background-color: rgba(50, 100, 138, 0.6);
          img {
            width: 50%;
            margin-bottom: 20px;
          }
          h3 {
            font-weight: 100;
            padding: 0 20px;
          }
          p {
            color: white;
            line-height: 25px;
          }
        }
      }
    }
  }
  .statistics-sec {
    padding-bottom: 100px;
    .statistics {
      margin-top: 50px;
      .statistic-card {
        width: 23%;
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 10px;
        padding: 60px 0;
        img {
          width: 50%;
          margin-bottom: 20px;
        }
        span {
          font-size: 30px;
        }
        @media (max-width: 700px) {
          width: 46%;
          margin-bottom: 40px;
        }
        @media (max-width: 400px) {
          width: 100%;
        }
      }
    }
  }
  .how-it-works {
    background-color: $lightgrey;
    margin-bottom: 200px;
    padding-bottom: 100px;
    .categories {
      margin-top: 50px;
      .category {
        width: 100%;
        height: 175px;
        img {
          width: 50%;
          height: 100%;
          @media (max-width: 870px) {
            width: 100%;

            height: 50%;
          }
        }
        .content {
          background-color: white;
          width: 40%;
          padding: 0 5%;
          @media (max-width: 870px) {
            width: 100%;
            height: 50%;
          }
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        @media (max-width: 870px) {
          height: 400px;
        }
      }
    }
  }
}
footer {
  p {
    color: white;
  }
  .main-footer {
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $darkblue;
    color: white;
    img.logo {
      @media (max-width: 750px) {
        width: 45%;
      }
    }
    .main-list-container {
      @media (max-width: 750px) {
        width: 100%;
        margin: 40px 0;
      }
    }
    .main-list {
      li {
        direction: ltr;
        margin-bottom: 15px;
      }
    }
    .title {
      margin-bottom: 20px;
    }

    .apps-container {
      width: 40%;
      p {
        margin: 0;
      }
      .title {
        margin-top: 10px;
      }
      .app {
        margin-top: 20px;
        li {
          width: 50%;
          margin-bottom: 15px;
          a {
            img {
              width: 80%;
              transition: all 0.5s;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
        @media (max-width: 750px) {
          margin-top: 40px;
          width: 60%;
        }
        @media (max-width: 550px) {
          width: 70%;
        }
        @media (max-width: 430px) {
          width: 85%;
        }
        @media (max-width: 350px) {
          width: 100%;
        }
      }
      @media (max-width: 750px) {
        width: 100%;
      }
    }
  }
  .dark-footer {
    min-height: 90px;
    background-color: $darkblue;
    color: white;
    font-size: 14px;
    @media (max-width: 500px) {
      flex-direction: column-reverse;
    }
    p {
      @media (max-width: 500px) {
        margin-bottom: 25px;
      }
    }
    ul {
      li {
        @media (max-width: 500px) {
          margin-bottom: 25px;
          width: 100%;
        }
      }
      a {
        color: white;
        margin-right: 20px;
        &:hover {
          color: $link-hover;
        }
      }
    }
  }
}
