// colors
$darkblue: #305069;
$black: #2b2b2b;
$lightgrey: #efefef;
$white: #fcfcfc;
$red: #ee1717;
$green: #09d501;
@font-face {
  font-family: "cairo";
  src: url("../fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: lighter;
}
// @font-face {
//   font-family: "Almarai";
//   src: url("../fonts/Almarai-Regular.ttf") format("truetype");
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Almarai";
//   src: url("../fonts/Almarai-Bold.ttf") format("truetype");
//   font-weight: bold;
// }
// @font-face {
//   font-family: "Almarai";
//   src: url("../fonts/Almarai-ExtraBold.ttf") format("truetype");
//   font-weight: bolder;
// }
* {
  font-family: cairo, sans-serif;
}
* {
  direction: rtl;
  color: $black;
}
body {
  margin: 0;
  padding: 0;
}
.sign {
  background: url("../imgs/c9e82dbbdfb949282d5097efa6b4d487.png");
  background-position: bottom;
  background-size: cover;
  background-color: rgba($color: #305069, $alpha: 0.5);
  background-blend-mode: soft-light;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.ltr {
  direction: ltr;
}
// flex classes
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
}
.end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.align {
  align-items: center;
}

.padding {
  padding: 0 2%;
}
.fa-star {
  color: #f6bd22;
}
// header
header {
  height: 45px;
  background-color: $darkblue;
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 2;
  align-items: center;
  flex-wrap: wrap;
  .logo-wrapper {
    img[alt="logo"] {
      height: 85%;
      margin-left: 10vw;
      @media (max-width: 360px) {
        height: 40%;
      }
    }
  }
  #menu {
    cursor: pointer;
    @media (min-width: 1250px) {
      display: none;
    }
  }
  .search {
    display: flex;
    align-items: center;
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    input {
      background: none;
      border: none;
    }
    @media (max-width: 360px) {
      width: 100%;
    }
  }
  @media (min-width: 1250px) {
    display: none;
  }
  @media (max-width: 360px) {
    height: 100px;
  }
}
#back {
  cursor: pointer;
}
main {
  padding: 0 0 0 1%;
  min-height: calc(100vh - 62px);
  @media (max-width: 425px) {
    min-height: calc(100vh - 91px);
  }
  nav {
    background-color: $white;
    border: 1px solid $lightgrey;
    height: calc(100vh - 109px);
    position: fixed;
    top: 45px;
    width: 200px;
    @media (max-width: 1250px) {
      display: none;
    }
    @media (max-width: 426px) {
      height: calc(100vh - 109px);
    }
    @media (max-width: 425px) {
      height: calc(100vh - 138px);
    }

    ul {
      li {
        border-bottom: 1px solid $lightgrey;
        padding: 0 20px;
        a {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 5px 0;
          img {
            width: 25px;
            margin-left: 4px;
          }
        }
        &.active {
          background-color: #f2f2f2;
        }
      }
    }
  }

  .content {
    padding: 0 2%;
    flex-grow: 1;
    margin: 45px 200px 45px 0;
    @media (max-width: 1250px) {
      margin: 45px 0 43px 0;
    }
    table.dataTable.no-footer {
      border: none;
    }
    #example_filter select,
    input {
      height: 37px;
      border: 1px solid #aaa;
      border-radius: 3px;
      margin-right: 10px;
      margin-left: 0 !important;
      margin-bottom: 10px;
      min-width: 175px;
    }
    .table-container {
      padding: 35px 2%;
      border-radius: 5px;
      box-shadow: 0px 3px 10px #00000029;
      table {
        overflow-x: hidden;

        td,
        th {
          white-space: nowrap;
          text-align: center;
          p {
            white-space: normal;
            &.limited {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 300px;
              &.small-limit {
                width: 150px;
              }
            }
          }
        }
        .child ul {
          width: 100%;
          li {
            text-align: start;
            .dtr-title {
              margin-left: 15px;
              min-width: 106px;
            }
          }
        }
        .ltr {
          direction: ltr;
        }
        .id {
          font-weight: bold;
        }
        .attachment {
          a {
            color: #0dbf66;
            text-decoration: underline;
          }
        }
        .not-yet {
          color: red;
        }
        button {
          border: none;
          padding: 0 15px;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          &.accept {
            background-color: $darkblue;
            border: 1px solid $darkblue;
          }
          &.decline {
            background-color: $red;
            border: 1px solid $red;
          }
          &.white {
            color: $darkblue;
            border: 1px solid $darkblue;
          }
        }
        a {
          color: #0dbf66;
          text-decoration: underline;
        }
      }
    }
  }
  .join-request {
    .child ul {
      li[data-dtr-index="3"] {
        .dtr-data {
          direction: ltr;
          display: inline-block;
        }
      }
    }
  }
  .maazoon-request {
    .child ul {
      li[data-dtr-index="1"],
      li[data-dtr-index="3"] {
        .dtr-data {
          @media (max-width: 350px) {
            display: block;
            margin: 10px 20px;
          }
        }
      }
    }
  }
  .membership-request {
    .child ul {
      li[data-dtr-index="3"] {
        .dtr-data {
          direction: ltr;
          display: inline-block;
        }
      }
    }
  }
  .statistics {
    @media (max-width: 480px) {
      justify-content: center;
    }
    .statistic-card {
      width: 20%;
      padding: 20px 2%;
      box-shadow: 0px 3px 15px #00000029;
      border-radius: 12px;
      p {
        margin-bottom: 0;
      }img{
        width:25%
      }
      @media (max-width: 830px) {
        width: 44%;
        margin-bottom: 50px;
      }
      @media (max-width: 480px) {
        width: 80%;
      }
    }
  }
  .charts {
    // height: 200px;
    margin-top: 80px;
    @media (max-width: 720px) {
      justify-content: center;
    }
    .doughnut {
      width: 31%;
      padding: 20px 2%;
    }
    .line {
      width: 56%;
      padding: 20px 2%;
    }
    .doughnut,
    .line {
      @media (max-width: 720px) {
        width: 80%;
        margin-bottom: 50px;
      }
      text-align: center;
      border: 2px solid $lightgrey;
      h2 {
        text-align: right;
      }
    }
  }
  .tables {
    margin-top: 100px;
    .table {
      width: 47%;
      border-radius: 12px;
      margin: 30px 0;
      overflow: hidden;
      border: 1px solid #dedede;
      @media (max-width: 1100px) {
        width: 49%;
      }
      @media (max-width: 980px) {
        width: 100%;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        @media (max-width: 500px) {
          font-size: 11.5px;
        }
        @media (max-width: 340px) {
          font-size: 11 px;
        }
        caption {
          text-align: right;
          background-color: $lightgrey;
          padding: 15px 20px 15px 0;
          font-weight: bold;
        }
        tr {
          border-bottom: 1px solid #dedede;
          &:last-child {
            border-bottom: none;
          }
        }
        thead tr {
          background-color: $lightgrey;

          th {
            white-space: wrap;
          }
        }
        th {
          font-weight: 100;
        }

        td,
        th {
          text-align: right;
          padding-right: 20px;
        }
      }
    }
  }
  .form-container {
    min-height: 100vh;
    form {
      width: 40%;
      border-radius: 3px;
      padding: 2.5%;
      background-color: white;
      input {
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        margin-bottom: 20px;
      }
      a {
        color: $red;
        font-weight: bold;
      }
      button {
        border: none;
        padding: 0 40px;
        color: white;
        border-radius: 5px;
        cursor: pointer;

        background-color: $darkblue;
        border: 1px solid $darkblue;
      }
    }
  }
}

footer {
  min-height: 45px;
  background-color: $lightgrey;
  li {
    padding-left: 15px;
  }
}

.modal-mask {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  display: none;
  transition: opacity 0.3s ease;
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    .modal {
      background-color: white;
      width: 80%;
      margin: auto;
      border-radius: 5px;
      padding: 40px 10%;
      box-shadow: 0px 0px 5px 2px lightgrey;
      #back {
        cursor: pointer;
      }
      li {
        .title {
          font-weight: bold;
        }

        .data {img{
          width: 13%;
        }
          &.green {
            color: $green;
          }
          &.bold {
            font-weight: bold;
          }
        }
      }
      p {
        color: #aaa;
      }

      .right-sec {
        width: 48%;
        @media (max-width: 950px) {
          width: 100%;
        }
      }
      .left-sec {
        width: 48%;
        @media (max-width: 950px) {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
        @media (max-width: 750px) {
          flex-direction: column;
        }
        h3 {
          margin-top: 0;
        }
        .address {
          width: 50%;
          @media (max-width: 750px) {
            width: 100%;
          }
        }
        #map {
          width: 100%;
          height: 300px;
          @media (max-width: 950px) {
            width: 45%;
          }
          @media (max-width: 750px) {
            width: 100%;
          }
        }
      }
      .service-provider {
        border-top: 1px solid $lightgrey;
        margin-top: 30px;
        ul {
          columns: 2;
          @media (max-width: 580px) {
            columns: 1;
          }
        }
      }
      &.commision-modal {
        width: 40%;
        form {
          width: 100%;
          border-radius: 3px;
          input {
            border: 1px solid #d8d8d8;
            border-radius: 3px;
            margin-bottom: 20px;
          }

          button {
            border: none;
            padding: 0 40px;
            color: white;
            border-radius: 5px;
            cursor: pointer;

            background-color: $darkblue;
            border: 1px solid $darkblue;
          }
        }
      }
    }
  }
}

.appear {
  display: initial;
  z-index: 1;
}
